.angular-mt-toggle{
    font-size:1.5em;
    cursor: pointer;
    color: #808080;
    opacity: 0.5;
}
.angular-mt-toggle.selected{
    color:green;
    opacity: 1;
}
.angular-mt-toggle.unselected{
    color:red;
    opacity: 1;
}